.accordion--specs {

    &:not(.accordion--disabled-small) {

        &:not(.accordion--disabled-large) {

            .accordion {

                &__title {

                    &:after {
                        color: $denim;
                        font-size: 15px;
                        right: 0;
                    }

                    &--disabled {

                        &:after {
                            color: $silver;
                        }
                    }
                }

                &__button {
                    @include copy-wide-reg;
                    padding-top: $space-3;
                    padding-bottom: $space-3;
                }

                &__pane {
                    padding: $space-2 0;
                }

                &__item {

                    &:last-child {
                        border-bottom: 1px solid $silver;
                    }

                    &--active {

                        .accordion {

                            &__button {
                                color: $denim;
                                padding-bottom: 0;
                            }

                            &__pane {
                                border-top: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

