$mobile-container-width: (299/320 * 100);
$tablet-container-width: (700/768 * 100);
$desktop-container-width: (940/980 * 100);

@mixin omega-reset($nth, $context: null) {
    @if $context==null {
        &:nth-child(#{$nth}) {
            margin-right: flex-gutter();
        }
    }
    @else {
        &:nth-child(#{$nth}) {
            margin-right: flex-gutter($context);
        }
    }

    &:nth-child(#{$nth}+1) {
        clear: none;
    }
}

@mixin mobile-container-width() {
    width: #{$mobile-container-width * 1%};
}

@mixin tablet-container-width() {
    width: #{$tablet-container-width * 1%};
    margin: 0 auto;
}

@mixin desktop-container-width() {
    width: #{$desktop-container-width * 1%};
}

@mixin mobile-container-full-bleed() {
    width: 100vw;
    left: calc((#{$mobile-container-width}vw - 100vw) / 2);
    position: relative;
}

@mixin tablet-container-full-bleed() {
    width: 100vw;
    left: calc((#{$tablet-container-width}vw - 100vw) / 2);
    position: relative;
}

@mixin desktop-container-full-bleed() {
    width: 100vw;
    left: calc((#{$desktop-container-width}vw - 100vw) / 2);
    position: relative;
}