/**
 * Styling for the Google Map
 */
.google-map {
    &__traffic-toggle {
        background-color: $white;
        border: 1px solid $black;
        cursor: pointer;
        margin: 6px;
        padding: 2px;
    }

    &__traffic-text {
        @include font-regular(12px, 1);
        padding: 0 4px;
    }

    &__detailed-info-window {
        @include highlight-copy-reg;

        span {
            display: block;
        }

        &-title {
            @include featured-copy-bold;
        }

        &-phone-number {
            color: $azure-radiance;
        }

        &-directions-cta {
            color: $azure-radiance;
        }
    }
}