.media-links {
    padding: 0 0 $space-8 0;
    &__title {
        @include call-out-text-bold;
        text-transform: uppercase;
    }

    &__media-container {
        padding: $space-3 0;
        @include media($tablet) {
            padding-top: $space-4;
            padding-bottom: 0;
            @include span-columns(6);

            &--right {
                @include shift(6);
            }
        }
    }

    &__copy-container {
        padding-top: 0;
        @include media($tablet) {
            padding-top: $space-4;
            @include span-columns(6);

            &--right {
                @include shift(-12);
            }
        }
    }

    &__link-element {
        padding: $space-3 0;
        border-top: 1px solid $silver;

        &:last-of-type {
            border-bottom: 1px solid $silver;
        }
    }
}
