.toggle-buttons {
    display: flex;

    &__button {
        flex: 1 1 auto;
        padding: $space $space-6;
        @include copy-wide-bold;
        text-decoration: none;
        border: 1px solid $alto;
        border-left-width: 0;
        white-space: nowrap;
        text-align: center;
        cursor: pointer;

        &:first-of-type {
            border-radius: 2px 0 0 2px;
            border-left-width: 1px;
        }

        &:last-of-type {
            border-radius: 0 2px 2px 0;
        }

        &--active {
            background-color: $denim;
            border-color: $denim;
            color: $white;
            margin: 0 -1px;
            z-index: 1;
        }
    }
}