.multimedia-tile {

    &__container {
        width: 100%;
    }

    &__media-container {
        margin-bottom: $space-2;
        width: 100%;

        @include media($large) {
            margin-bottom: $space-3;
        }

        img {
            width: 100%;
        }
    }

    &__container > *:last-child {
            margin-bottom: 0;
    }

    &--enabled {
        cursor: pointer;
    }
}
